.image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://images2.alphacoders.com/436/436857.jpg");
    background-size: cover;
    font-family: Courgette;
    font-size: 40px;
    overflow: hidden;
}

.text {
    margin-left: 250px;
    margin-top: 300px;
}

.second-text {
    margin-top: 0px;
    margin-left: 250px;
}
