.image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://images2.alphacoders.com/436/436857.jpg");
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    overflow: hidden;
}

.text {
    margin-left: 250px;
    margin-top: 300px;
}

.second-text {
    margin-top: 0px;
    margin-left: 250px;
}
    
.go-to-main-button:before,
.go-to-main-button:after {
    box-sizing:border-box;
    content:'';
    position:absolute;
    border-color:black;
    border-style:solid;
    width:1em;
    height:1em;
    transition: 0.5s ease-in-out}
    
.go-to-main-button:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
}

.go-to-main-button:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
}
    
.go-to-main-button:hover:before,
.go-to-main-button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:rgb(0, 0, 0)
}

.go-to-main-button {
    position:relative;
    font-weight:bold;
    margin-left: 33vh;
    margin-top: 80px;
    width: 300px;
    font-size: 30px;
    background-color:transparent;
    border: none;
}

.go-to-main-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.info {
    margin-top: 125px;
    font-size: 15px;
    margin-left: 20px;
}