.timer {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1.5rem;
    font-weight: 900;
}

.timer > h3 {
    font-weight: 900;
}

.clock {
    padding-bottom:1rem ;
}

.skills {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.skills-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 3rem;
    cursor: pointer;
}

.html-icon,
.css-icon,
.js-icon,
.ts-icon,
.svg-icon,
.angular-icon {
    width: 100px;
    transition-duration: 0.8s;
}

.gsap-icon {
    width:110px ;
    transition-duration: 0.8s;
}

.html-text {
    transform: translateX(7.5px);
    transition-duration: 1.1s;
}

.css-text {
    transform: translateX(30px);
    transition-duration: 1.1s;
}

.js-text {
    transform: translateX(24.5px);
    transition-duration: 1.1s;
}

.ts-text {
    transform: translateX(-20px);
    transition-duration: 1.1s;
}

.svg-text {
    transform: translateX(-44px);
    transition-duration: 1.1s;
}

.angular-text {
    transform: translateX(-52px);
    transition-duration: 1.1s;
}

.gsap-text {
    transform: translateX(3px);
    transition-duration: 1.1s;
}

.text-wrapper {
    margin-top: 2rem;
    justify-content: space-around;
    display: flex;
    padding: 0rem 5rem;
}
.dumbell {
    color: #38639e;
} 

.text-wrapper p {
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    padding-top: 2rem;
}

.extra-abilities {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 1.6rem;
}

.ability-image {
    max-width: 37rem;
    margin: 20px;
}

.arrow {
    color: red;
}

.projects {
    width: 100vw;
    height: 65vh;
    border-bottom: 2px solid black;
    overflow-x: hidden;
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.my-projects-text {
    font-size: 6rem;
    margin: 2rem 0rem 0rem 5rem;
    font-family: 'Teko', sans-serif;
    font-style: italic;
}

.project-one,
.project-two,
.project-three,
.project-four {
    width: 19rem;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    border-radius: 15px;
    border: 2px solid black;
    background-color:#333;
    position: relative;
    color: beige;
}

.git-icon {
    max-width: 4rem;
    border-radius: 50%;
    transition-duration: 0.3s;
    margin-right: 1.5rem;
    background-color: white;
    margin-top: 1rem;
    position: absolute;
    bottom: 20%;
}

.website-icon {
    max-width: 4rem;
    margin-top: 1rem;
    position: absolute;
    bottom: 20%;
    left: 30%;
}

.project-title {
    font-size: 3.3rem;
    border-bottom: 2px solid black;
    position: absolute;
}

.project-info {
    font-size: 1.5rem;
    padding-top: 1.6rem;
    padding-right: 1rem;
    position: absolute;
    top: 15%;
}

.show-project-button {
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    width: 19rem;
    border-radius: 10px;
    border: 2px solid beige;
    margin-top: 0.5rem;
    padding-top: 7px;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: black;
    color: beige;
    position: absolute;
    bottom: 3%;
}

.loading {
    position: absolute;
    top: 45%;
    left: 40%;
    animation: loading 2.5s infinite linear ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 8px solid beige;
    border-bottom: 8px solid black;
}

.project-four {
    background-color:rgba(220, 0, 0) ;
   }

.project-four a {
    opacity: 0.6;
    cursor: not-allowed;
}

.project-four button {
    cursor: not-allowed;
    opacity: 0.6;
}

.button-avaliable:hover {
    background-color: white;
    color: black;
}

.git-avaliable:hover {
    background-color: red;
}

.close-button {
    position: fixed;
    top: 7%;
    right: 3%;
    border-radius: 5px;
    font-size: 1.75rem;
    color: black;
    font-weight: 700;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    transition-duration: 0.4s;
    border: 2px solid beige
}

.overlay {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.calculator-image {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%) scale(0);
    transition: 0.4s ease-in-out;
    z-index: 2;
}

.catopedia-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 70rem;
    transition: 0.4s ease-in-out;
    z-index: 2;
}

.catopedia-image.active {
    transform: translate(-50%, -50%) scale(1);
}

.calculator-image.active {
    transform: translate(-50%) scale(1);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.bibleapp-image{
    max-width: 80rem;
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translate(-50%) scale(0);
    transition: 0.4s ease-in-out;
    z-index: 2;
}

.bibleapp-image.active {
    transform: translate(-50%, -12%) scale(1);
}

.close-button:hover {
    background-color: #333;
    color: white;
}

.close-button.active {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 360px) {

}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}