.navbar {
    position: sticky;
    top: 0;
}

.navbar ul {
    padding-inline-start: 0rem;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding: 1.5rem 1rem;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    flex: 1 1 auto;
    text-align: center;
    transition-duration: 0.3s;
}

.navbar li:hover {
    cursor: pointer;
    background-color: #3333;
}

.header {
    min-height: 92%;
    min-width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    
}

.info {
    margin: 5rem 0rem 0rem 6rem;
    font-size: 1.7rem;
}

h1 {
    font-family: 'Dancing Script', cursive;  
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.blob-one {
    margin-top: 1.2rem;
    width: 18rem;
    position: relative;
}

.blob-one-text {
    font-size: 1.15rem;
    position: absolute;
    top: 35%;
    left: 36%;
}
