<nav class="navbar">
    <ul>
        <li (click)="scrollToAboutMe()">Who am I?  <fa-icon [icon]="aboutIcon"></fa-icon></li>
        <li (click)="scrollToSkills()">My skills <fa-icon [icon]="starIcon"></fa-icon></li>
        <li (click)="scrollToProjects()">My Projects <fa-icon [icon]="flaskIcon"></fa-icon></li>
        <li (click)="scrollToContact()">Contact <fa-icon [icon]="phoneIcon"></fa-icon></li>
    </ul>    
</nav>

<header class="header">
    <div>
        <h1> Marcel Zapadka</h1>
        <h2>JUNIOR FRONTED DEVELOPER</h2>
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </div>
    
    <div class="image">


    </div>
</header>

