/* Footer contact styling */
.contact-icons {
    display: flex;
    justify-content: space-evenly;
}

.linkedin-link img,
.email-img {
    width: 15rem;
}

.linkedin-text,
.email {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.contact-info {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
}

/* Media queries on phone device */
@media (max-width: 430px) {
    
    .linkedin-link img,
    .email-img {
        width: 8rem;
    }

    .linkedin-text,
    .email {
        font-size: 0.85rem;
        margin-bottom: 1rem;
    }

    .contact-icons {
        display: flex;
        justify-content: space-around;
        margin-left: 0.5rem;
    }

}