<footer>
    <h6 class="contact-info">You can contact me any time:</h6>
    <div class="contact-icons">
        <div class="linkedin-container">
            <a class="linkedin-link" href="https://www.linkedin.com/in/marcel-zapadka-43057b24b/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/61/61109.png"></a>
            <p class="linkedin-text">LinkedIn</p>
        </div>
        <div class="facebook-container">
            <a class="facebook-link" href="https://www.facebook.com/marcel.zapadka" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="facebook-contact"></a>
            <p class="facebook-text">Facebook</p>
        </div>
    </div>
</footer>