<footer>
    <h6 class="contact-info">Contact information:</h6>
    <div class="contact-icons">
        <div class="linkedin-container">
            <a class="linkedin-link" href="https://www.linkedin.com/in/marcel-zapadka-43057b24b/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/61/61109.png"></a>
            <p class="linkedin-text">LinkedIn</p>
            <p class="email">zapadka.m@wp.pl</p>
        </div>
    </div>
    <p class="responsive">(Portfolio in finishing phase (it isn't responsive yet)</p>
</footer>